.loginScreen {
  background-image: url("../../assets/login/loginImg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.otpValidate input[type="text"] {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
}

.otpValidate input[type="text"]:focus {
  border-color: #34d399;
}
