.menuPageIntro {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/menu/bg2.jpg");
  /* background-color: #211f1f; */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 70dvh;
  width: 100%;
}

/* Change background image for mobile view */
@media (max-width: 768px) {
  .menuPageIntro {
    background-image: url("../../assets/menu/bg2.jpg");
    background-attachment: fixed;
    text-align: center;
    justify-content: center;
    /* padding-top: 20vh; */
    height: 40vh;
  }
  .menuPageIntro::before {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .menuPageIntro {
    background-image: url("../../assets/menu/bg2.jpg");
  }
}

@supports (-webkit-overflow-scrolling: touch) {
  .menuPageIntro {
    background-attachment: fixed;
  }
}

.menuPageIntro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  z-index: 1;
}

.menuPageIntro > * {
  position: relative;
  z-index: 2;
}

/* FOOTER */
.menuPage {
  position: relative;
  min-height: 100vh;
  padding-bottom: 80px;
}

.footerBuyProducts {
  position: fixed;
  bottom: 0;
  color: white;
  right: 0;
  border-radius: 50%;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 10px;
  margin-top: 1rem;
  background-color: #4f391d;
  text-align: center;
  padding: 14px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.payButton {
  position: fixed;
  bottom: 0;
  color: white;
  left: 0;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 10px;
  margin-top: 1rem;
  border-radius: 10px;
  background-color: #4f391d;
  text-align: center;
  padding: 14px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

@media (max-width: 768px) {
  .footerBuyProducts {
    position: fixed;
    bottom: 0;
    color: white;
    left: 0;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 10px;
    margin-top: 1rem;
    border-radius: 10px;
    background-color: #4f391d;
    text-align: center;
    padding: 14px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
}

/* CLEAR ALL BTN */

.clearAllBtn {
  border: 1px solid black;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 12px;
}
