.aboutUsIntroCont {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/about/aboutUs02.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  height: 100dvh;
  width: 100%;
}

/* Change background image for mobile view */
@media (max-width: 768px) {
  .aboutUsIntroCont {
    background-image: url("../../assets/about/aboutMobile3.jpg");
    background-attachment: scroll;
    /* text-align: center; */
    justify-content: start;
    padding-top: 10vh;
    height: 100vh;
  }
  .aboutUsIntroCont::before {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .aboutUsIntroCont {
    background-image: url("../../assets/about/aboutUs02.jpg");
  }
}

@supports (-webkit-touch-callout: none) {
  @media (max-width: 768px) {
    .aboutUsIntroCont {
      background-size: auto !important;
      background-position: top !important;
    }
  }
}

@supports (-webkit-overflow-scrolling: touch) {
  .aboutUsIntroCont {
    background-attachment: fixed;
  }
}

.aboutUsIntroCont::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  z-index: 1;
}

.aboutUsIntroCont > * {
  position: relative;
  z-index: 2;
}
