.contactPageCont {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/contact/contactUs.jpg");
  /* background-color: #211f1f; */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100dvh;
  width: 100%;
}

/* Change background image for mobile view */
@media (max-width: 768px) {
  .contactPageCont {
    background-image: url("../../assets/contact/contactUs.jpg");
    background-attachment: fixed;
    text-align: center;
    justify-content: start;
    padding-top: 20vh;
    height: 100vh;
  }
  .contactPageCont::before {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@supports (-webkit-overflow-scrolling: touch) {
  .contactPageCont {
    background-attachment: fixed;
  }
}

.contactPageCont::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  z-index: 1;
}

.contactPageCont > * {
  position: relative;
  z-index: 2;
}
