.card {
  position: relative;
  height: 470px;
  width: 340px;
  display: block;
  background: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  transition: 0.4s linear;
}

.card:hover {
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.card .image {
  background: black;
  height: 400px;
  overflow: hidden;
}

.card.active .image img {
  opacity: 0.6;
  transform: scale(1.1);
}

.image img {
  transition: 0.3s;
  height: 100%;
  width: 100%;
}

.card .content {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding: 20px 30px;
  background: white;
}

.content .title {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
}

.bottom {
  opacity: 0;
  transform: translateY(20px); /* Starts slightly below */
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out,
    max-height 0.6s ease-in-out;
}

.bottom p {
  color: #666666;
  font-size: 16px;
  text-indent: 1rem;
  text-align: justify;
  line-height: 1.8rem;
}

/* Apply transition when the card is active */
.card.active .bottom {
  opacity: 1;
  transform: translateY(0); /* Moves to the normal position */
  max-height: 200px; /* Adjust the height based on content */
}
